body {
	padding: 0;
	margin: 0;
	margin-top: 60px;
	background-color: #fff;
	/*background-color: #efefef;*/
	font-family: 'Muli', sans-serif;
}

#header{
	text-align: center;
	background-color: #222222;
	height: 50px;
	vertical-align: top;
	position: absolute;
	top: 0px;
	border-bottom: 1px solid #000;
	/* 00ffcc */
	width: 100%;
	font-size: 18px;
}

#navlist li{
	display: inline;
	padding-left: 40px;

}


a:link{
	color: #fefefe;
	text-decoration: none;
}

a:visited{
	color: #cccccc;
	text-decoration: none;
}

/* 109 styling */

#heading{
	text-align: center;
	font-style: italic;
}

#container{
	margin: 0 auto;
	position: ;
	top: 65px;
	padding: 10px;
	width: 50%;
	background-color: #fff;
	border: 1px solid #000;
	/* 00ffcc */
    border-radius: 10px;
}
.section{
	border-bottom: 1px solid #242527;
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}
.question{
	font-size: 22px;
	font-weight: oblique;
	color: #000;
	margin-bottom: 10px;
}

.answers{
	font-size: 18px;
	color: #000;
}

/* Make Me Popular Page */
.explaination{
	float: center;
	margin: 0 auto;
	padding: 15px;
	width: 70%;
	background-color: #fff;
	border: 1px solid #000;
    border-radius: 10px;
}
.explaination-title{
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
}
.explaination-text{
	text-align: left;
	font-size: 17px;
}

.ratings{
	position: absolute;
	top: 10px;
	float: left;
	margin-left: 25px;
	margin-top: 50px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #00ffcc;
    border-radius: 10px;
}

.ratings-title{
	font-size: 20px;
	text-align: center;
}

/* Possibilities Page */

#possibilities-container{
	float: center;
	margin: 0 auto;
	top: 65px;
	margin-top: 20px;
	padding: 20px;
	width: 60%;
	background-color: #fff;
	border: 1px solid #000;
    border-radius: 10px;
}

.possibilities-section{
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

 /* Home Page */

.home-container{
	float: center;
	margin: 0 auto;
	padding: 15px;
	width: 70%;
	font-size: 18px;
	/*background-color: #fff;*/
	/*border: 1px solid #000;*/
    /*border-radius: 10px;*/
}
.home-title{
	font-size: 30px;
	text-align: center;
}
.home-text1{
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
	color: #999999;
}

.home-text1{
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
	color: #999999;
}

.home-text2{
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	width: 70%
}
.quiz-button{
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 25px;
	font-color: #ff0000;
	width: 18%;
	padding-top: 10px;
	border-top: solid 1px #223344;
}

.text1{
	height: 400px;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 40px;
	margin-left: 20px;
	float: right;
	width: 55%;


}

.text2{
	height: 400px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 40px;
	margin-right: 20px;
	float: left;
	width: 55%;

}

.text3{
	height: 400px;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 40px;
	margin-left: 20px;
	float: right;
	width: 55%;

}

.inline1{
	text-align: center;
	height: 400px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 40%;
}

.inline2{
	text-align: center;
	height: 400px;
	margin-top: 20px;
	float: right;
	margin-right: 20px;
	width: 40%;

}

.inline3{
	text-align: center;
	height: 400px;
	margin-top: 20px;
	float: left;
	margin-left: 20px;
	width: 40%;

}

.title{
	text-align: center;
	font-size: 50px;
	color: #555555;
	font-family: 'Lato';
	width: 100%;
	position: relative;
	margin-top: 50px;
}