.label{
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	font-weight: bold;
	color: #400000;

}
body {

	font-family: 'Merriweather', serif;
    margin: 0px;
	
}
/* blade base template*/
#container
{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    width: 70%;
}

#landing-header {
    height: 500px;
    margin: 0 auto;
    padding: 0px;
    background: #f3f3f3;
    border:1px solid #CCC;
    width: 90%;
    position: fixed;
    text-align: center;
    top: 0px;
}

#header {
    height: 50px;
    margin: 0px;
    padding: 0px;
    background: #f3f3f3;
    border:1px solid #CCC;
    width: 100%;
    position: fixed;
    text-align: right;
    top: 0px;
    vertical-align: center;
}

.logo{
    height: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

.announce{
    text-align: left;
    position: absolute;
    margin-top: 13px;
    margin-left: 80px;
    font-size: 20px;
}

#footer {
	background:#f0f0f0;
	bottom: 0px;
}

#head-image-left
{
    float: left;
    height: 400px;
}

#head-image-right
{
    float: right;
    height: 400px;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}



ul li {
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 
}

/* unvisited link */
a:link {
    color: #440000 !important;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #400000 !important;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #f00000;
    text-decoration: none;

}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;

}   

.form-container{
    text-align: left;
    float: left;
    position: relative;
    margin: 0 auto;
    font: arial;
    font-size: 18px;
    margin-left: 50px;
    padding: 20px;
    padding-top: 0px;
    border: 1px solid #440000;
    border-radius: 10px;
    width: 30%;
}

.create-user-title{
    font-size: 30px;
    font-weight: bold;
}


/* Home Page */
.home-banner{
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;

}

.welcome-banner{
    font-size: 30px;
    font-weight: bold;
    color: #881111;
    margin-bottom: 10px;
}

.welcome-information{
    font-size: 17px;
    font-weight: italic;
    font-family: ;
    color:;
}

.home-content{
    width: 100%;
    margin-top: 20px;
    height: 420px;
    border-bottom: 1px solid #CCC;
}

.left-content{
    float: left;
    width: 49%;
}

.right-content{
    float: right;
    width: 49%;
}

#head-image-left{
    width: 50%;
    height: 400px;
}

#head-image-right{
    width: 50%;
    height: 400px;

}

.left-content-text{
    font-size: 20px;
    margin-top: 120px;
    padding: 10px;
}

.right-content-text{
    float: left;
    width: 45%;
    font-size: 20px;
    margin-top: 120px;
    padding: 10px;
}

.download-button{
    font-size: 25;
    width: 100%;
    color: #00ff00;
    margin-top: 10px;
    padding-top: 10px;
}

.appstore{
    height: 50px;
    width: 150px;
}

/* Discussion */
#post {
  border-bottom: 3px solid #440000;
}

#comments {
    text-align: left;
}

#post-link {
    font-size: 25px;
    text-align: left;
}

.individual-post{

}

#create-post {
    font-size: 18px;
    border-bottom: 3px solid #440000;
}

.title-field {
    width: 400px;
    height: 30px;
}

.content-field {
    width: 70%;
    height: 250px;
}

.content-field-comment {
    width: 70%;
    height: 100px;
}

.about-container{
    float: left;
    position: absolute;
    top: 52px;
    margin-left: 150px;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border-left: 1px solid #440000;
    border-right: 1px solid #440000;
    height: 89%;

}

.about-heading{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #440000;
    border-bottom: 1px solid #440000;
    width: 100%;

}

.about1{
    font: arial;
    font-size: 25px;
    float: left;
    margin-left: 50px;
}

.about2{
    font: arial;
    font-size: 25px;
    float: right;
    margin-right: 50px;
    text-align: center;
}

.about-content{
    margin-top: 20px;
    text-align: left;
    padding: 20px;


}
/* Contact Page */
.contact-container{
    float: left;
    position: absolute;
    top: 52px;
    margin-left: 150px;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    letter-spacing: -1px;
}

.contact-jeremy{
    font: arial;
    font-size: 18px;
    float: left;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid #440000;
    border-radius: 10px;
    width: 35%;
}

.contact-awais{
    font: arial;
    font-size: 18px;
    float: right;
    padding: 20px;
    margin-right: 50px;
    border: 1px solid #440000;
    border-radius: 10px;
    width: 35%;

}

.contact-email-awais{
    margin-left: -10px;
}
.contact-picture{
    height: 200px;
}


/*Testing
*/

.looks-like{
    font-family: 'Merriweather', georgia;
    color: #7d85e8;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;

}

.calendar-picture{
    
}