.label{
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	font-weight: bold;
	color: #400000;

}
body {

	font-family: 'Merriweather', serif;
	
}

#container
{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    width: 70%;
}

#header {
    height: 50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0px;
}

#footer {
	background:#f0f0f0;
	bottom: 0px;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 30px;
}



ul li {
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 
}

/* unvisited link */
a:link {
    color: #440000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #400000;
    text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #f00000;
    text-decoration: none;

}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;

}